<html>
<head>
    <title>Penguin Lifelines</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/site_media/multiuploader/styles/style.css"/>
    <link rel="stylesheet" href="/site_media/multiuploader/styles/960.css"/>
    <link href='http://fonts.googleapis.com/css?family=Muli:300,400' rel='stylesheet' type='text/css'>
    <meta property="og:type" content="Penguin LifeLines"/>
    <meta property="og:site_name" content="Penguin LifeLines"/>
    <meta property="og:description" content="Penguins Lifelines</strong> is a project run by Tom Hart and is a collaboration
                                        between Oxford University, ZSL, Oceanites, Stony Brook and Woods Hole
                                        Oceanographic Institute, researching the threats to antarctic penguins."/>

    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-36400919-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();

    </script>

    {% block head_additional %}{% endblock %}
</head>

<body class="home">
<div class="account-header">

    <div class="account-options">
        {% if user.is_authenticated %}

            <a href="/accounts/logout" class="pull-right" style="margin-right: 10px; margin-top: 5px">Logout</a>
            {% if user.is_superuser %}
                <a href="/admin" class="pull-right" style="margin-right: 10px; margin-top: 5px; color: #F7941E">Admin</a>
            {% endif %}
            <a href="/accounts/profile" class="pull-right" style="margin-right: 10px; margin-top: 5px; color: #1AB1D1">Profile</a>
        {% else %}
            <a href="/accounts/login" class="pull-right" style="margin-right: 10px; margin-top: 5px">Login</a>
            <a href="/accounts/register" class="pull-right" style="margin-right: 10px; margin-top: 5px">Register</a>
        {% endif %}
    </div>

</div>

<div id="container">
    <div id="hd">
        <div id="hd_bar"></div>
        <div id="hd_nav">
            <div id="hd_nav_wrapper" class="clearfix">
                <ul id="site_nav" class="clearfix">
                    <li id="site_nav_home"><a href="/" class="trackedLink"><span
                            class="label">Penguin lifelines</span></a></li>
                    <li id="site_nav_news"><a href="/pages/adopt"><span class="label"><span
                            class="highlight-blue">Adopt a Colony</span></span></a>
                    </li>
                    <li id="site_nav_news"><a href="/upload"><span class="label"><span
                            class="highlight-orange">Upload Photos</span></span></a>
                    </li>
                    <li id="site_nav_calendar"><a href="http://faith.robots.ox.ac.uk:8080/annotator/"
                                                  target="_blank"><span
                            class="label"><span class="highlight-orange">Annotate Images</span> </span></a></li>
                    <li id="about"><a href="/pages/about"><span class="label">About</span></a></li>
                    <li id="blog"><a href="/news"><span class="label">News</span></a>
                    </li>
                    <li id="site_nav_results"><a href="/media"><span class="label">Media</span></a></li>
                    <li id="site_nav_links"><a href="mailto:tom.hart@zoo.ox.ac.uk?subject=Penguin Lifelines"><span
                            class="label">Contact</span></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div id="content-wrapper">
        <div id="banner">

            <div class="clearfix"></div>
            <br/><br/>
            {% block content %}
            {% endblock %}

        </div>

        <div id="footer" class="container_16">
            <div class="upper_footer">
                <div class="footer_container " align="center">

                    <div class="topFooterImage" align="center">

                        <div class="logos">
                            <a href="http://www.zoo.ox.ac.uk" target="_blank"><img
                                    src="/site_media/multiuploader/img/footer/oxford.png"
                                    alt="Oxford University"></a>
                            <a href="http://www.zsl.org" target="_blank"><img
                                    src="/site_media/multiuploader/img/footer/zsl.png" alt="ZSL"></a>
                        </div>

                    </div>

                </div>
            </div>

            <div class="bottom_footer">

                <div class="additional-information" align="center">
                    &copy; Penguin Lifelines, Designed by <a href="http://www.antarctic-design.co.uk"
                                                             target="_blank">Antarctic
                    Design</a>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>
