{% extends "base.html" %}

{% block title %}Penguin Lifelines | {{ item.title }}{% endblock %}

{% block content %}


    <div class="container_16">
        <div class="grid_16" style="margin-top:30px">
            <ol class="breadcrumb">
                <li><a href="/news">News</a></li>
                <li class="active">{{ item.title }}</li>
            </ol>

            <p style="font-size: 1.6em; color: #1AB1D1">{{ item.title }}<span style="font-size: 0.8em; color:#aaa"> Posted on {{ item.created_date|date:"d M Y" }}</span>
            </p>

            <p style="font-size: 1.2em">{{ item.content }}</p>

            <br/>
            {% if user.is_superuser %}
                <a href="/admin/app/newsitem/{{ item.id }}/">Edit</a>
            {% endif %}

        </div>
    </div>

{% endblock %}